/************* FONTS ******************/
	@font-face 
	{
	 font-family: "Spartan";
	 src: url("./font/Spartan-VariableFont_wght.ttf") format("truetype");
	 font-weight: 400 700;
	}
/**************************************/


/************************************ SMARTPHONE *************************************/

@media screen and (max-width: 420px)
{

	/************* GENERAL SETTING ******************/
		.background
		{
		 	background-image: url(./images/bg-pattern-top-desktop.svg), url(./images/bg-pattern-bottom-desktop.svg);
		 	background-repeat: no-repeat, no-repeat;
		 	background-attachment: fixed, fixed;
		 	background-position: left top, right bottom;
		}

		*
		{
			font-family: "Spartan", "Serif";
		}

		body
		{
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		main
		{
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}

		.attribution
		{
			margin-top: 60px;
			font-size: 8px;
			text-align: center;
		}
	/************************************************/

	/******************* FIRST FLOOR *************************/
		/************* TOP TITLE ******************/
		.top_title
		{
			display: flex;
			flex-direction: column;
			justify-content: center;
		}

		.title
		{
			color: hsl(300, 43%, 22%);
			font-size: 2em;
			font-weight: 700;
			margin: 65px 0 40px 0;
			text-align: center;
			line-height: 1em;
		}

		.punchline_text
		{
			font-size: 15px;
			font-weight: 400;
			color: hsl(303, 10%, 53%);
			line-height: 1.5em;
			text-align: center;

			margin: 0 20px;

		}
		/******************************************/

		/*************** RATINGS ******************/

		.rating
		{
			display: flex;
			flex-direction: column;
			justify-content: center;
			margin-top: 20px;

		}

		.rating_box
		{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			background-color: hsl(300, 24%, 96%);
			border-radius: 7px;

			margin: 5px 20px;

		}

		.rating_stars
		{

			margin-top: 10px;
			display: flex;
			justify-content: center;

		}

		.rating_star
		{
			margin:0 5px;
		}

		.rating_text
		{
			text-align: center;
			font-size: 12px;
			font-weight: 700;
			color: hsl(300, 43%, 22%);
		}

		/******************************************/
	/**********************************************************/

	/******************* SECOND FLOOR *************************/
		.testimony
		{
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			margin-top: 40px;
		}

		/******************** TESTIMONY BOX ***********************/
			.testimony_box
			{
				display: flex;
				flex-direction: column;
				align-items: flex-start;

				background-color: hsl(300, 43%, 22%);

				border-radius: 5px;

				margin : 5px 20px;

				padding: 20px;



			}

			.testimony_profil
			{
				display: flex;
			}

			.testimony_photo
			{
				border-radius: 50%;
				height: 30px;
				width: auto;

				margin:0 0 20px 0;
			}

			.testimony_name
			{
				color:hsl(0, 0%, 100%);
				font-size: 12px;
				margin:0 0 0 20px;

			}

			.testimony_approval
			{
				font-size: 12px;
				color: hsl(333, 80%, 67%);
				margin:0 0 0 20px;


			}

			.testimony_comment
			{
				font-size: 11px;
				line-height: 1.5em;

				color: hsl(300, 24%, 96%);

			}
		/**********************************************************/
	/**********************************************************/
}
/*************************************************************************************/
