/************* FONTS ******************/
	@font-face 
	{
	 font-family: "Spartan";
	 src: url("./font/Spartan-VariableFont_wght.ttf") format("truetype");
	 font-weight: 400 700;
	}
/**************************************/

/************************************ LAPTOP *************************************/

	/************* GENERAL SETTING ******************/
		.background
		{
		 	background-image: url(./images/bg-pattern-top-desktop.svg), url(./images/bg-pattern-bottom-desktop.svg);
		 	background-repeat: no-repeat, no-repeat;
		 	background-attachment: fixed, fixed;
		 	background-position: left top, right bottom;
		}

		.smartphone_background
		{
		 	background-image: url()
		}

		*
		{
			font-family: "Spartan", "Serif";
		}

		body
		{
			display: flex;
			flex-direction: column;


			width: 80%;
			margin-right: 10%;
			margin-left:  10%;
			margin-top:   115px;
			margin-bottom: 70px;
		}

		main
		{
			display: flex;
			justify-content: space-between;
			width: 100%;
			height: 29%;
		}

		h3,p {
			margin:0;
		}

		.attribution
		{
			margin-top: 60px;
			font-size: 8px;
			text-align: right;
		}
	/************************************************/

	/******************* FIRST FLOOR *************************/
		/************* TOP TITLE ******************/
		.top_title
		{
			width: 38%;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}

		.title
		{
			color: hsl(300, 43%, 22%);
			font-size: 2.5em;
			font-weight: 700;
			width: 100%;
			margin: 0;
			margin-bottom: 10px;



		}

		.punchline_text
		{
			font-size: 12px;
			font-weight: 400;
			color: hsl(303, 10%, 53%);
			line-height: 1.5em;
			margin: 0;

		}
		/******************************************/

		/*************** RATINGS ******************/

		.rating
		{
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			width: 50%;

		}

		.rating_box
		{
			display: flex;
			justify-content: flex-start;
			align-items: center;

			background-color: hsl(300, 24%, 96%);
			border-radius: 7px;

			width: 80%;
			height: 25%;
			margin-top: 3%;

		}

			.rating_box:nth-of-type(2)
		{
			margin-left: 8.2%;
		}

			.rating_box:nth-of-type(3)
		{
			margin-left: 16.4%;
		}

		.rating_stars
		{

			width: 175px;
			display: flex;
			justify-content: center;

		}

		.rating_star
		{
			margin:0 5px;
		}

		.rating_text
		{
			text-align: center;
			font-size: 12px;
			font-weight: 700;
			color: hsl(300, 43%, 22%);



		}

		/******************************************/
	/**********************************************************/

	/******************* SECOND FLOOR *************************/
		.testimony
		{
			display: flex;
			justify-content: space-between;

			width: 100%;
			height: 29%;

			margin-top: 60px;
		}

		/******************** TESTIMONY BOX ***********************/
			.testimony_box
			{
				display: flex;
				flex-direction: column;
				align-items: flex-start;

				background-color: hsl(300, 43%, 22%);

				border-radius: 5px;

				width: 28%;
				max-width: 350px;
				height: 88%;

				padding: 30px 20px;

			}

			.testimony_box:nth-of-type(2)
			{
				margin-top: 1.5%;
			}

			.testimony_box:nth-of-type(3)
			{
				margin-top: 3%;
			}

			.testimony_profil
			{
				display: flex;
				height: 100%;
				margin-bottom: 10%;
			}

			.testimony_identity
			{
				display: flex;
				flex-direction: column;
				height: 100%;
			}


			.testimony_photo
			{
				border-radius: 50%;
				height: 30px;
				width: auto;
			}

			.testimony_name
			{
				color:hsl(0, 0%, 100%);
				font-size: 12px;
				margin-left: 15%;
				margin-bottom: 5%;
				width: 100%;

			}

			.testimony_approval
			{
				font-size: 12px;
				color: hsl(333, 80%, 67%);
				margin-left: 15%;
				width: 100%;

			}

			.testimony_comment
			{
				font-size: 11px;
				line-height: 1.5em;

				color: hsl(300, 24%, 96%);

			}
		/**********************************************************/
	/**********************************************************/
/*********************************************************************************/
